<div>
  <h4>如何针对某个国家的地图进行复杂样式定制化</h4>
  <ul>
    <li>
    我们提供简单的颜色配置，如果您想进行复杂定制化，可以是用混合模式，通过贴图+json 的方式进行定制化<br/>
    例如：A 国定制化，可以让设计做一个只包含中国的图片（图片大小参考 github src/image/earth.png）,json文件内容删除关于 A 国的地理位置信息即可。
    </li>
  </ul>

  <h4>为什么国家边界墙要传入具体地理位置，而不是通过 regions 指定</h4>
  <ul>
    <li>
        因为这样自定义性更高，不仅仅可以实现边界功能，还可以实现别的自定义需求。例如只对某个国家的某个区域进行定义
    </li>
  </ul>
</div>